<a href="https://colab.research.google.com/github/nikhil-atharv/Google-Colab/blob/main/01_DataTypes_and_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
##Numbers

integer = 80.00
floated = 45.56

In [8]:
type(floated)

float

In [10]:
##string

hi = 'Hi students'
type(hi)

str

In [21]:
name = "My Aunt's Name is Hairat"
name

"My Aunt's Name is Hairat"

In [13]:
##lists

lis_numers = [1, 2,6,8,9,10]
lis_numers

[1, 2, 6, 8, 9, 10]

In [14]:
##dictionary

details = {
    'Name': 'Anuj',
    'Age': 56,
    'Gender': 'male',
    'City': 'Bangalore'
}

details

{'Name': 'Anuj', 'Age': 56, 'Gender': 'male', 'City': 'Bangalore'}