<a href="https://colab.research.google.com/github/nikhil-atharv/Google-Colab/blob/main/04_For_loops_conditionals_controls.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
cities = ['Mysore', 'Bangalore', 'Chennai', 'Hyderabad']

In [4]:
for city in cities:
  print(city)

Mysore
Bangalore
Chennai
Hyderabad

In [5]:
data = {'city': 'Mysore',
        'population': 54621,
        'coordinates': (42.1261, 14.6321)}

In [7]:
for x,y in data.items():
  print(x,y)

city Mysore
population 54621
coordinates (42.1261, 14.6321)

In [9]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [10]:
for x in range(10, 20, 2):
  print(x)

10
12
14
16
18

In [11]:
cities = ['Mysore', 'Bangalore', 'Chennai', 'Hyderabad']

In [12]:
for city in cities:
  if city == 'Mysore':
    print(city)

Mysore

In [14]:
for city in cities:
  if city == 'Chennai':
    print(city)

  else:
    print('Rest are not mysore')

Rest are not mysore
Rest are not mysore
Chennai
Rest are not mysore

In [15]:
cities_population = {
    'Mysore': 54123,
    'Bangalore': 145698,
    'Chennai': 87412,
    'Hyderabad': 87456
}

In [16]:
cities_population

{'Mysore': 54123, 'Bangalore': 145698, 'Chennai': 87412, 'Hyderabad': 87456}

In [20]:
for city, population in cities_population.items():

  if population > 100000:
    print('{} has population of {}. Which is greater than 1 lakh'.format(city, population))

  elif population < 60000:
    print('{}, {}'.format(city, population))

  else:
    print('{} is between 60k and 100k population with population of {}'.format(city, population))

Mysore, 54123
Bangalore has population of 145698. Which is greater than 1 lakh
Chennai is between 60k and 100k population with population of 87412
Hyderabad is between 60k and 100k population with population of 87456

In [21]:
cities = ['Mysore', 'Bangalore', 'Chennai', 'Hyderabad']

In [22]:
for city in cities:
  print(city)
  if city == 'Bangalore':
    print('I found Bangalore')
    break

Mysore
Bangalore
I found Bangalore

In [23]:
for city in cities:
  if city == 'Bangalore':
    continue
  print(city)

Mysore
Chennai
Hyderabad

In [24]:
for city in cities:
  if city == 'Bangalore':
    pass
  else:
    print(city)

Mysore
Chennai
Hyderabad